// variables
$background-color: mediumpurple;
$text-color: white;

.header-style {
  background-color: $background-color;
  padding: 0.5rem;
  .text {
    color: $text-color;
    text-align: center;
    font-size: 150%;
  }
}

#imgContainer {
  img {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

